<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="app.name" value="reference" />
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} requestId=[%X{X-Request-Id}] - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/var/log/microservices/${app.name}/${app.name}_app.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${app.name}_app.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>14</maxHistory>
    </rollingPolicy>
    
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} requestId=[%X{X-Request-Id}] - %msg%n</pattern>
    </encoder>
  </appender>
  
  <root level="debug">
    <springProfile name="dev,integration-tests">
      <appender-ref ref="STDOUT" />
    </springProfile>
    <springProfile name="qa,staging,production">
    	<appender-ref ref="FILE" />
    </springProfile>
  </root>
</configuration>
